[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SeedCalc"]
	path = SeedCalc
	url = https://github.com/cran/SeedCalc
	shallow = true
	registered = true
